.otp-group {
    display: flex;
    width: 100%;
    max-width: 360px;
    column-gap: 10px;
}

.otp-input {
    width: 100%;
    height: 56px;
    border: 1px solid rgba(189, 189, 189, 0.2);
    border-radius: 8px;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 1;
}

.otp-input::placeholder {
    color: #BEBEC3;
    font-weight: 400;
    font-size: 28px;
}

.filled {
    border: 1px solid #27AE60;
}

.error {
    border: 1px solid #FF421D;
}